In [1]:
from shapely.geometry import asPoint
import geopandas as gpd
import pandas as pd
import time
import shapely
import matplotlib.pyplot as plt
import os

In [2]:
def couple_grid_pand(PATH, pand):
    
    pandpoints = gpd.GeoDataFrame(pand)
    pandpoints.geometry = pandpoints.geometry.apply(shapely.wkt.loads)
    
    for filename in os.listdir(PATH):
        t0 = time.time()
        name = filename.strip("_grid.csv") # get the city name

        grid = pd.read_csv(PATH + filename) # get grid
        grid['geometry'] = grid.geometry.apply(shapely.wkt.loads) # load geometry as shape
        grid = gpd.GeoDataFrame(grid)
        print(grid.shape)
        # join each cbs row with a vbo that contains a vbo point
        pandgrid = gpd.tools.sjoin(pandpoints, grid, op = "within")
    
        
        print("{} done. time:{}".format(name,time.time() - t0))
        pandgrid.to_csv("../Data/presnap/pand/" + name + "_pand.csv")

In [6]:
pand = pd.read_csv("pand_cleaned.csv", sep = ";")

C:\Users\Gebruiker\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [9]:
pand.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'bouwjaar', 'begindatumTijdvakGeldigheid',
       'einddatumTijdvakGeldigheid', 'identificatie', 'geometry'],
      dtype='object')

In [10]:
pand = pand[["identificatie", "bouwjaar"]]

In [12]:
pand.identificatie.nunique()

10617539

In [13]:
pand.shape

(15401393, 2)

In [4]:
couple_grid_pand("../Data/presnap/grid/", pand)

Almere done. time:771.2686886787415
Breda done. time:13.396408796310425
Devente done. time:8.328661918640137

In [24]:
pand_grid = pd.read_csv("../Data/presnap/pand/Almere_pand.csv")

In [25]:
pand_grid

,Unnamed: 0,Unnamed: 0_left,bouwjaar,begindatumTijdvakGeldigheid,einddatumTijdvakGeldigheid,identificatie,geometry,index_right,Unnamed: 0_right,C28992R100
0,321646,374995,2000.0,1970-01-24 06:04:21.100000000,NaN,3.410000e+13,POINT (146367.0364029086 493396.0666259328),37893,1444457,E1463N4933
1,321647,374996,1999.0,1970-01-24 06:04:21.100000000,NaN,3.410000e+13,POINT (146361.0298717487 493392.3859385702),37893,1444457,E1463N4933
2,321648,374997,1999.0,1970-01-24 06:04:21.100000000,NaN,3.410000e+13,POINT (146355.1952827561 493388.5759016351),37893,1444457,E1463N4933
3,321651,375001,1999.0,1970-01-24 06:04:21.100000000,NaN,3.410000e+13,POINT (146305.9642588075 493346.111398325),37893,1444457,E1463N4933
4,321649,374998,1999.0,1970-01-24 06:04:21.100000000,NaN,3.410000e+13,POINT (146030.3010297063 493326.7149679747),37890,1444454,E1460N4933
...,...,...,...,...,...,...,...,...,...,...
150030,16271035,18961426,2020.0,1970-01-24 09:08:40.300000200,1970-01-24 09:23:50.200000300,1.942100e+15,POINT (137056.9694482871 479824.2366683602),67095,1678811,E1370N4798
150031,16271036,18961427,2020.0,1970-01-24 09:23:50.200000300,1970-01-24 09:24:30.700000400,1.942100e+15,POINT (137056.9694482871 479824.2366683602),67095,1678811,E1370N4798
150032,16271038,18961429,2020.0,1970-01-24 09:08:30.500000100,NaN,1.942100e+15,POINT (133496.4965 482913.0275),60332,1624505,E1334N4829
150033,16271050,18961454,1950.0,1970-01-24 09:23:50.200000200,NaN,1.942100e+15,POINT (132970.6537969918 482699.6369420139),60978,1629744,E1329N4826
150034,16271057,18961837,2019.0,1970-01-24 09:24:31.400000100,NaN,1.942100e+15,POINT (133352.4687879462 482422.9722482411),61416,1633248,E1333N4824