In [64]:
import pandas as pd
import shapely
import geopandas as gpd
import matplotlib.pyplot as plt

In [67]:
DH = pd.read_csv("../results/Denhaag.csv", index_col = 0)
EH = pd.read_csv("../results/Eindhoven.csv", index_col = 0)
NM = pd.read_csv("../results/Nijmegen.csv", index_col = 0)

# non cluster models

In [82]:
DH1 = DH[~DH.index.str.contains("ust")]
EH1 = EH[~EH.index.str.contains("ust")]
NM1 = NM[~NM.index.str.contains("ust")]

In [103]:
tot = DH1.join(EH1, rsuffix = "_EIND").join(NM1, rsuffix = "_NM")
tot = tot.transpose()
tot

model           RF       MLP       CNN       RNN    RNNCNN       XGB
auc       0.677484  0.679318  0.592242  0.676105  0.664910  0.680866
f1        0.383407  0.400098  0.337261  0.401423  0.389228  0.384389
auc_EIND  0.684324  0.670751  0.603258  0.689692  0.663678  0.683336
f1_EIND   0.214421  0.265655  0.210626  0.238095  0.242236  0.208729
auc_NM    0.659007  0.662382  0.601488  0.679314  0.648543  0.668151
f1_NM     0.236908  0.264339  0.177057  0.258799  0.231405  0.241895

In [98]:
arrays = [["Den haag", "Den haag", "Eindhoven", "Eindhoven", "Nijmegen", "Nijmegen"],
            ["AUC", "F1", "AUC", "F1", "AUC", "F1"]
          ]

In [99]:
tuples = list(zip(*arrays))

In [100]:
tuples

[('Den haag', 'AUC'),
 ('Den haag', 'F1'),
 ('Eindhoven', 'AUC'),
 ('Eindhoven', 'F1'),
 ('Nijmegen', 'AUC'),
 ('Nijmegen', 'F1')]

In [101]:
index = pd.MultiIndex.from_tuples(tuples, names=["City", "Score"])

In [104]:
tot.index = index

In [105]:
tot

model                  RF       MLP       CNN       RNN    RNNCNN       XGB
City      Score
Den haag  AUC    0.677484  0.679318  0.592242  0.676105  0.664910  0.680866
          F1     0.383407  0.400098  0.337261  0.401423  0.389228  0.384389
Eindhoven AUC    0.684324  0.670751  0.603258  0.689692  0.663678  0.683336
          F1     0.214421  0.265655  0.210626  0.238095  0.242236  0.208729
Nijmegen  AUC    0.659007  0.662382  0.601488  0.679314  0.648543  0.668151
          F1     0.236908  0.264339  0.177057  0.258799  0.231405  0.241895

In [107]:
b.to_excel("../results/non_cluster_table.xlsx")

### tables

NameError: name 'Y_test' is not defined