In [49]:
import pandas as pd
import time
t0 = time.time()
## TODO: find out about bad lines
df = pd.read_csv("PAND.csv", sep = ";", encoding = "utf-8", na_values = "NaN", parse_dates = ["begindatumTijdvakGeldigheid", "einddatumTijdvakGeldigheid"], on_bad_lines = "warn")
df["begindatumTijdvakGeldigheid"] =  pd.to_datetime(df['begindatumTijdvakGeldigheid'], format='%Y%m%d%H%M%S%f', errors='coerce')
df["einddatumTijdvakGeldigheid"] =  pd.to_datetime(df['einddatumTijdvakGeldigheid'], format='%Y%m%d%H%M%S%f', errors='coerce')
print((time.time() - t0) / 60)

b'Skipping line 533308: expected 11 fields, saw 12\nSkipping line 542302: expected 11 fields, saw 12\nSkipping line 546913: expected 11 fields, saw 12\n'
b'Skipping line 2402168: expected 11 fields, saw 12\n'
b'Skipping line 6122630: expected 11 fields, saw 12\n'
b'Skipping line 6511403: expected 11 fields, saw 12\nSkipping line 6511405: expected 11 fields, saw 12\nSkipping line 6513243: expected 11 fields, saw 12\nSkipping line 6526419: expected 11 fields, saw 12\nSkipping line 6532284: expected 11 fields, saw 12\nSkipping line 6539521: expected 11 fields, saw 12\nSkipping line 6544341: expected 11 fields, saw 12\nSkipping line 6547862: expected 11 fields, saw 12\nSkipping line 6549397: expected 11 fields, saw 12\nSkipping line 6550250: expected 11 fields, saw 12\nSkipping line 6550252: expected 11 fields, saw 12\n'
b'Skipping line 6553782: expected 11 fields, saw 12\nSkipping line 6554368: expected 11 fields, saw 12\nSkipping line 6554878: expected 11 fields, saw 12\nSkipping line 6555323: expected 11 fields, saw 12\n'
b'Skipping line 7256241: expected 11 fields, saw 12\n'
b'Skipping line 7872596: expected 11 fields, saw 12\n'
b'Skipping line 8565248: expected 11 fields, saw 12\n'
b'Skipping line 10112772: expected 11 fields, saw 12\n'
b'Skipping line 10359785: expected 11 fields, saw 12\n'
b'Skipping line 10966916: expected 11 fields, saw 12\n'
b'Skipping line 11791232: expected 11 fields, saw 12\n'
b'Skipping line 12346290: expected 11 fields, saw 12\n'
b'Skipping line 13443508: expected 11 fields, saw 12\n'
b'Skipping line 13507685: expected 11 fields, saw 12\n'
b'Skipping line 13765735: expected 11 fields, saw 12\n'
b'Skipping line 16733757: expected 11 fields, saw 12\n'
b'Skipping line 16955601: expected 11 fields, saw 12\n'
C:\Users\Gebruiker\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (0,6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

1.7838885068893433

In [52]:
def pandCleaner(data):
    print(data.shape)
    # only select buildings that are in use
    data = data[data["pandstatus"] == 'Pand in gebruik']
    print(data.shape)
    # delete buildings without an ID
    data = data[data["identificatie"].notna()]
    print(data.shape)
    # set dates to datetime
    data["begindatumTijdvakGeldigheid"] =  pd.to_datetime(data['begindatumTijdvakGeldigheid'], format='%Y%m%d%H%M%S%f', errors='coerce')
    data["einddatumTijdvakGeldigheid"] =  pd.to_datetime(data['einddatumTijdvakGeldigheid'], format='%Y%m%d%H%M%S%f', errors='coerce')
    print(data.shape)
    return data

In [53]:
df1 = pandCleaner(df)

(19112112, 11)
(15353723, 11)
(15346856, 11)
(15346856, 11)

In [64]:
sum(df1.einddatumTijdvakGeldigheid.notna()) / len(df1)

0.3374394077848909

In [81]:
def snapshotter(data, year):
    d1 = datetime(year,1,1)
    print(data.shape)
    data = data[data["begindatumTijdvakGeldigheid"] < d1]
    print(data.shape)
    data = data[(data["einddatumTijdvakGeldigheid"] > d1) | (data["einddatumTijdvakGeldigheid"].isna())]
    print(data.shape)
    
    return data

In [54]:
t0 = time.time()
## TODO: find out about bad lines
VBO = pd.read_csv("VBO.csv", sep = ";", encoding = "utf-8", na_values = "NaN", parse_dates = ["begindatumTijdvakGeldigheid", "einddatumTijdvakGeldigheid"], on_bad_lines = "warn")
print((time.time() - t0) / 60)

0.7422975103060404

In [55]:
VBO.head()

,gebruiksdoelVerblijfsobject,oppervlakteVerblijfsobject,verblijfsobjectStatus,begindatumTijdvakGeldigheid,einddatumTijdvakGeldigheid,identificatie,pos
0,NaN,NaN,NaN,NaN,NaN,NaN,188391.884 334586.439 0.0
1,woonfunctie,72.0,Verblijfsobject in gebruik,2018032600000000,2018040400000000,1.883100e+15,188391.884 334586.439 0.0
2,woonfunctie,72.0,Verblijfsobject ingetrokken,2018040400000000,NaN,1.883100e+15,252767.348 593745.504 0.0
3,woonfunctie,69.0,Verblijfsobject in gebruik,2010072000000000,NaN,3.100000e+12,252769.565 593744.87 0.0
4,woonfunctie,69.0,Verblijfsobject in gebruik,2010072000000000,NaN,3.100000e+12,252890.0 593697.0 0.0

In [59]:
sum(VBO.identificatie.isna()) / len(VBO)

0.029892605944811038

In [60]:
def VBOCleaner(data):
    print(data.shape)
    
    # only keep objects with id
    data = data[data["identificatie"].notna()]
    print(data.shape)
    
    # only keep objects which are currently in use
    data = data[data["verblijfsobjectStatus"] == "Verblijfsobject in gebruik"]
    print(data.shape)

In [61]:
a = VBOCleaner(VBO)

(19501545, 7)
(18918593, 7)
(15441604, 7)