In [ ]:
import geopandas as gpd
import pandas as pd
import time

# Only select the grid id (C2899..) and geometry to make the coupling file
cbsgeom = gpd.read_file("../Data/cbs/2016/CBS_VK100_2016_v2.shp")[["C28992R100", "geometry"]] 
# LOAD cleaned (OR clean afterwards) VBO file
# Only keep vbo_id and the position of the vbo
vbo = vbo[["identificatie", "pos"]]


t0 = time.time() # start timer, took around 30 minutes first time
points = gpd.GeoDataFrame(vbo, geometry = "pos")
del(vbo) # del vbo since it's put into points df. makes space

# join each cbs row with a vbo that contains a vbo point
pointInPolys = gpd.tools.sjoin(points, cbsgeom, op = "within")

In [ ]:
# plot example
import matplotlib.pyplot as plt
plt.plot(*cbs[cbs["C28992R100"] == pointInPolys.iloc[0].C28992R100].geometry.iloc[0].exterior.xy)
plt.scatter(point.x, point.y)

In [4]:
import pandas as pd
pd.read_csv("../Data/grids_koppeling_gwb.csv", sep = ";")

,id_grid,id_buurt,id_wijk,id_gemeente,naam_buurt,naam_wijk,naam_gemeente
0,73000,BU19030000,WK190300,GM1903,Eijsden-Breust,Wijk 00 Eijsden,Eijsden-Margraten
1,49287,BU19030502,WK190305,GM1903,Noorbeek,Wijk 05 Mheer - Noorbeek,Eijsden-Margraten
2,67930,BU09810100,WK098101,GM0981,Vaals,Wijk 01 Vaals,Vaals
3,65224,BU09810009,WK098100,GM0981,Verspreide huizen Cottessen-Camerig,Wijk 00 Vijlen-Lemiers,Vaals
4,83776,BU09810006,WK098100,GM0981,Holset,Wijk 00 Vijlen-Lemiers,Vaals
...,...,...,...,...,...,...,...
695008,22870,BU19030509,WK190305,GM1903,Verspreide huizen,Wijk 05 Mheer - Noorbeek,Eijsden-Margraten
695009,30922,BU09810008,WK098100,GM0981,Wolfhaag,Wijk 00 Vijlen-Lemiers,Vaals
695010,25571,BU17290509,WK172905,GM1729,Verspreide huizen,Wijk 05 Epen,Gulpen-Wittem
695011,30912,BU09810007,WK098100,GM0981,Raren,Wijk 00 Vijlen-Lemiers,Vaals
695012,25637,BU09810008,WK098100,GM0981,Wolfhaag,Wijk 00 Vijlen-Lemiers,Vaals

In [25]:
df = pd.read_csv("linked.csv")

In [2]:
import geopandas as gpd
import time

# Only select the grid id (C2899..) and geometry to make the coupling file
cbsgeom = gpd.read_file("../Data/cbs/2016/CBS_VK100_2016_v2.shp")

In [6]:
import pandas as pd
pd.read_csv("../Data/grids_koppeling_gwb.CSV", sep = ";")

C:\Users\Gebruiker\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

               id  lb_gridcod           pand_id      opp
0           21261   1704736.0  1714100000729177      215
1           21261   1704736.0  1714100000729178       45
2           21261   1704736.0  1714100000734055       29
3           21261   1704736.0  1714100000734339      113
4           21261   1704736.0  1714100000735921      267
...           ...         ...               ...      ...
12536685  8372632         NaN    56100000004296    55,69
12536686  8372632         NaN    56100000004297     16,6
12536687  8372633         NaN    22100000004985  147,511
12536688  8372633         NaN    56100000004296    7,031
12536689  8372633         NaN    56100000009385   83,051

[12536690 rows x 4 columns]

In [7]:
bag = pd.read_csv("../Data/vbo_pand.csv", sep = ";", encoding='latin-1')

C:\Users\Gebruiker\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)